.visualizations {
  padding: 16px 24px;
}

.controls {
  margin-bottom: 16px;
}

.simulation-control {
  margin-right: 16px;
}

.boundary {
  margin: 8px 0 !important;
}

.adversaries,
.users {
  margin: 0 16px;
}
